.square {
  background: transparent;
  border: 3px solid #000;
  background-color: transparent;
  box-sizing: border-box;
  line-height: 80px;
  height: 100%;
  width: 100%;
  margin-right: -3px;
  padding: 5px;
  text-align: center;
}
